<div class="position-relative overflow-hidden bg-white">

<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-12">
        <h3 class="text-gradient text-primary mb-0 mt-2">CONDITIONS GENERALES DE VENTE</h3>
    <h4 class="pt-3">On fait tout pour vous rassurer</h4>
  <p>

  <H6>En vigueur au 07/12/2022 </H6>

  <p><H5> ARTICLE 1 – Champ d’application </H5>  </p>

Les présentes Conditions Générales de Vente (dites « CGV ») s’appliquent, sans restriction ni réserve à l’ensemble des ventes conclues par 
le Vendeur auprès d’acheteurs non professionnels (« Les Clients ou le Client »), désirant acquérir les produits proposés à la vente (« Les Produits ») 
par le Vendeur sur le site. Les Produits proposés à la vente sur le site sont les suivants : Consoles et jeux-vidéos.


Les offres de Produits s’entendent dans la limite des stocks disponibles, tels que précisés lors de la passation de la commande.

Ces CGV sont accessibles à tout moment sur le site OldSkoolGaming et prévaudront sur toute autre document.
Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet effet avant la mise en
œuvre de la procédure de commande en ligne du site.

Sauf preuve contraire, les données enregistrées dans le système informatique du Vendeur constituent la preuve de l’ensemble des 
transactions conclues avec le Client.

<p><H5> ARTICLE 2 – Prix </H5>  </p>

Les Produits sont fournis aux tarifs en vigueur figurant sur le site, lors de l’enregistrement de la commande par le Vendeur.
Les prix sont exprimés en Euros, HT et TTC.
Les tarifs tiennent compte d’éventuelles réductions qui seraient consenties par le Vendeur sur le site.

Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Vendeur se réserve le droit, hors période de validité, 
d’en modifier les prix à tout moment.

Les prix ne comprennent pas les frais de traitement, d’expédition, de transport et de livraison, qui sont facturés en supplément, dans les 
conditions indiquées sur le site et calculés préalablement à la passation de la commande.
Le paiement demandé au Client correspond au montant total de l’achat, y compris ces frais.

Une facture est établie par le Vendeur et remise au Client lors de la livraison des Produits commandés.

<p><H5> ARTICLE 3 – Commandes </H5>  </p>

Il appartient au Client de sélectionner sur le site  les Produits qu’il désire commander, selon les modalités suivantes :
Le client choisi un produit qu’il met dans son panier, produit qu’il pourra supprimer ou modifier avant de valider sa commande et d’accepter les présentes conditions générales de vente. Il rentrera ensuite ses coordonnées puis après validation des informations, la commande sera considérée comme définitive et exigera paiement de la part du Client selon les modalités prévues..

Les offres de Produits sont valables tant qu’elles sont visibles sur le site, dans la limite des stocks disponibles.
La vente ne sera considérée comme valide qu’après paiement intégral du prix. Il appartient au Client de vérifier l’exactitude de 
la commande et de signaler immédiatement toute erreur.

Toute commande passée sur le site constitue la formation d’un contrat conclu à distance entre le Client et le Vendeur.
Le Vendeur se réserve le droit d’annuler ou de refuser toute commande d’un Client avec lequel il existerait un litige relatif au paiement d’une commande antérieure.

Le Client pourra suivre l’évolution de sa commande sur le site.

<p><H5> 3 Bis – Espace client – Compte</H5>  </p>
Afin de passer commande, le Client est invité à créer un compte (espace personnel).
Pour ce faire, il doit s’inscrire en remplissant le formulaire qui lui sera proposé au moment de sa commande et s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.

Le Client est responsable de la mise à jour des informations fournies. Il lui est précisé qu’il peut les modifier en se connectant à son compte.
Pour accéder à son espace personnel et aux historiques de commande, le Client devra s’identifier à l’aide de son nom d’utilisateur et de son mot de passe qui lui seront 
communiqués après son inscription et qui sont strictement personnels. A ce titre, le Client s’en interdit toute divulgation. Dans le cas contraire, il restera seul responsable de l’usage qui en sera fait.

Le Client pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel ou envoyant un email. Celle-ci sera effective dans un délai raisonnable.

En cas de non respect des conditions générales de vente et/ou d’utilisation, le site aura la possibilité de suspendre voire de fermer le compte d’un client après mise en demeure adressée par voie électronique et restée sans effet.
Toute suppression de compte, quel qu’en soit le motif, engendre la suppression pure et simple de toutes informations personnelles du Client.
Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n’engage pas la responsabilité du Vendeur.
La création du compte entraine l’acceptation des présentes conditions générales de vente.


<p><H5> ARTICLE 4 – Conditions de paiement</H5>  </p>
Le prix est payé par voie de paiement sécurisé, selon les modalités suivantes :  paiement par carte bancaire

Le prix est payable comptant par le Client, en totalité au jour de la pasation de la commande.

Les données de paiement sont échangées en mode crypté grâce au protocole défini par le prestataire de paiement agréé intervenant pour les transactions bancaires réalisée sur le site.

Les paiements effectués par le Client ne seront considérés comme définitifs qu’après encaissement effectif par le Vendeur des sommes dues.
Le Vendeur ne sera pas tenu de procéder à la délivrance des Produits commandés par le Client si celui-ci ne lui en paye pas le prix en totalité dans les conditions ci-dessus indiquées.

Ces droits, dès lors qu’ils ne s’opposent pas à la finalité du traitement, peuvent être exercé en adressant une demande par courrier ou par E-mail au Responsable de traitement dont les coordonnées sont indiquées ci-dessus.
Le responsable de traitement doit apporter une réponse dans un délai maximum d’un mois. En cas de refus de faire droit à la demande du Client, celui-ci doit être motivé.

Le Client est informé qu’en cas de refus, il peut introduire une réclamation auprès de la CNIL (3 place de Fontenoy, 75007 PARIS) ou saisir une autorité judiciaire.
Le Client peut être invité à cocher une case au titre de laquelle il accepte de recevoir des mails à caractère informatifs et publicitaires de la part du Vendeur. Il aura toujours la possibilité de retirer son accord à tout moment en contactant le Vendeur (coordonnées ci-dessus) ou en suivant le lien de désabonnement.

<p><H5> ARTICLE 10 – Propriété intellectuelle</H5>  </p>
Le contenu du siteest la propriété du Vendeur et de ses partenaires et est protégé par les lois françaises et internationales relatives 
à la propriété intellectuelle.
Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.

<p><H5> ARTICLE 11 – Droit applicable – Langue</H5>  </p>
Les présentes CGV et les opérations qui en découlent sont régies et soumises au droit français.
Les présentes CGV sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères,
seul le texte français ferait foi en cas de litige.

<p><H5> ARTICLE 12 – Litiges</H5>  </p>
Pour toute réclamation merci de contacter le service clientèle à l’adresse postale ou mail du Vendeur indiquée à l’ARTICLE 1 des présentes CGV.
Le Client est informé qu’il peut en tout état de cause recourir à une médiation conventionnelle, auprès des instances de médiation sectorielles existantes ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.

</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>	
