<h1>Kit UI</h1>
<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Boutons</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">
	
<%# Classic buttons %>
	<div class="container-fluid px-0 overflow-hidden">
	  <div class="row text-center py-3 mt-3">
	    <div class="col-12 mx-auto">
	      
	      <button type="button" class="btn btn-primary w-auto me-1 mb-0">Primary</button>
	      
	      <button type="button" class="btn btn-secondary w-auto me-1 mb-0">Secondary</button>
	      
	      <button type="button" class="btn btn-info w-auto me-1 mb-0">Info</button>
	      
	      <button type="button" class="btn btn-success w-auto me-1 mb-0">Success</button>
	      
	      <button type="button" class="btn btn-warning w-auto me-1 mb-0">Warning</button>
	      
	      <button type="button" class="btn btn-danger w-auto me-1 mb-0">Danger</button>
	      
	      <button type="button" class="btn btn-light w-auto me-1 mb-0">Light</button>
	      
	      <button type="button" class="btn btn-dark w-auto me-1 mb-0">Dark</button>
	      
	      <button type="button" class="btn btn-white w-auto me-1 mb-0">White</button>
	      
	    </div>
	  </div>  
	</div>

<%# Gradient buttons %>
	<div class="container-fluid px-0 overflow-hidden">
	  <div class="row text-center py-3 mt-3">
	    <div class="col-12 mx-auto">
	      
	      <button type="button" class="btn bg-gradient-primary w-auto me-1 mb-0">Primary</button>
	      
	      <button type="button" class="btn bg-gradient-secondary w-auto me-1 mb-0">Secondary</button>
	      
	      <button type="button" class="btn bg-gradient-info w-auto me-1 mb-0">Info</button>
	      
	      <button type="button" class="btn bg-gradient-success w-auto me-1 mb-0">Success</button>
	      
	      <button type="button" class="btn bg-gradient-warning w-auto me-1 mb-0">Warning</button>
	      
	      <button type="button" class="btn bg-gradient-danger w-auto me-1 mb-0">Danger</button>
	      
	      <button type="button" class="btn bg-gradient-light w-auto me-1 mb-0">Light</button>
	      
	      <button type="button" class="btn bg-gradient-dark w-auto me-1 mb-0">Dark</button>
	      
	      <button type="button" class="btn bg-gradient-white w-auto me-1 mb-0">White</button>
	      
	    </div>
	  </div>
	</div>

<%# Outline buttons %>
	<div class="container-fluid px-0 overflow-hidden">
	  <div class="row text-center py-3 mt-3">
	    <div class="col-12 mx-auto">
	      
	      <button type="button" class="btn btn-outline-primary mb-0">Primary</button>
	      
	      <button type="button" class="btn btn-outline-secondary mb-0">Secondary</button>
	      
	      <button type="button" class="btn btn-outline-info mb-0">Info</button>
	      
	      <button type="button" class="btn btn-outline-success mb-0">Success</button>
	      
	      <button type="button" class="btn btn-outline-warning mb-0">Warning</button>
	      
	      <button type="button" class="btn btn-outline-danger mb-0">Danger</button>
	      
	      <button type="button" class="btn btn-outline-light mb-0">Light</button>
	      
	      <button type="button" class="btn btn-outline-dark mb-0">Dark</button>
	      
	      <button type="button" class="btn btn-outline-white mb-0">White</button>
	      
	    </div>
	  </div>
	</div>

<%# Buttons size %>
	<div class="container-fluid px-0 overflow-hidden">
	  <div class="row text-center py-2 mt-3">
	    <div class="col-12 mx-auto">
	      <button type="button" class="btn bg-gradient-primary btn-sm me-2">Small</button>
	      <button type="button" class="btn bg-gradient-primary w-auto me-2">Default</button>
	      <button type="button" class="btn bg-gradient-primary btn-lg">Large</button>
	    </div>
	  </div>
	</div>

	<div class="container-fluid px-0 overflow-hidden">
	  <div class="row text-center py-2 mt-3">
	    <div class="col-12 mx-auto">
	      <button class="btn bg-gradient-primary btn-icon btn-sm" type="button">
	        <div class="d-flex align-items-center">
	          <i class="bi bi-cart-fill me-2" aria-hidden="true"></i>
	          Small
	        </div>
	      </button>

	      <button class="btn bg-gradient-primary btn-icon" type="button">
	        <div class="d-flex align-items-center">
	          <i class="bi bi-cart-fill me-2" aria-hidden="true"></i>
	          Default
	        </div>
	      </button>

	      <button class="btn bg-gradient-primary btn-icon btn-lg" type="button">
	        <div class="d-flex align-items-center">
	          <i class="bi bi-cart-fill me-2" aria-hidden="true"></i>
	          Large
	        </div>
	      </button>
	    </div>
	  </div>
	</div>

	<div class="row text-center py-3 mt-3">
		<p>Toutes les icones sont trouvables <a href="https://icons.getbootstrap.com/">ICI !</a></p>
	</div>


  
<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Cards</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Container begin %>
      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Add a style="height: XYZpx" to div.card to limit the card height and display scrollbar instead -->
        <div class="card card-custom bg-white border-white border-0" style="height: 30rem">
          <div class="card-custom-avatar align-self-center">
            <img class="img-fluid" src="http://atlas-content-cdn.pixelsquid.com/stock-images/nintendo-nes-console-game-xwVG4NC-600.jpg" alt="Avatar" style="height: 10rem" />
          </div>
          <div class="card-body">
          <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-primary">SEGA</span>
				<span class="float-end price-hp">12354.00 €</span>
			</div>
			</div>
          <div class="card-body" style="overflow-y: auto">
            <p class="card-text">You can also set maximum height on and the card will not expand, instead a scrollbar in the card body will appear.</p>
            <p class="card-text">Some example text to show the scrollbar.</p>
            <p class="card-text">Lorem ipsum dolor sit amet, te vix omittam fastidii, enim paulo omnes ea has, illud luptatum no qui. Sed ea qualisque urbanitas, purto elit nec te. Possim inermis antiopam ut eum. Eos te zril labore laboramus, quem erant nam in. Ut sed molestie
              antiopam. At altera facilisis mel.</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn bg-gradient-primary">VOIR L'OFFRE</a>
          </div>
        </div>

<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Elements interactifs</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Checkbox %>
    <div class="container-fluid px-0 overflow-hidden">
	  <div class="row text-center py-2 mt-3">
	    <div class="col-3 mx-auto text-start">
	      <div class="form-check">
	        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
	        <label class="form-check-label" for="flexCheckDefault">
	          Default checkbox
	        </label>
	      </div>
	      <div class="form-check">
	        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
	        <label class="form-check-label" for="flexCheckChecked">
	          Checked checkbox
	        </label>
	      </div>
	    </div>
	  </div>
	</div>

<%# Radios %>
	<div class="container-fluid px-0 overflow-hidden">
	  <div class="row text-center py-2 mt-3">
	    <div class="col-3 mx-auto text-start">
	      <div class="form-check">
	        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
	        <label class="form-check-label" for="flexRadioDefault1">
	          Default radio
	        </label>
	      </div>
	      <div class="form-check">
	        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
	        <label class="form-check-label" for="flexRadioDefault2">
	          Default checked radio
	        </label>
	      </div>
	    </div>
	  </div>
	</div>

<%# Toggle %>
	<div class="container py-3 mt-3">
	  <div class="row">
	    <div class="col-4 mx-auto">
	      <div class="form-check form-switch ps-0">
	        <input class="form-check-input ms-auto mt-1" type="checkbox" id="flexSwitchCheckDefault">
	        <label class="form-check-label ms-2" for="flexSwitchCheckDefault">Remember me</label>
	      </div>
	    </div>
	  </div>
	</div>

<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Badges</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Badges %>
  <div class="container overflow-hidden">
	  <div class="row text-center py-3 mt-3">
	    <div class="col-12">
	      <span class="badge bg-gradient-primary">Primary</span>
	      <span class="badge bg-gradient-secondary">Secondary</span>
	      <span class="badge bg-gradient-success">Success</span>
	      <span class="badge bg-gradient-danger">Danger</span>
	      <span class="badge bg-gradient-warning">Warning</span>
	      <span class="badge bg-gradient-info">Info</span>
	      <span class="badge bg-gradient-light text-dark">Light</span>
	      <span class="badge bg-gradient-dark">Dark</span>
	    </div>
	  </div>
	</div>

<%# end container %>
</div>
</div>

<%# Container begin %>
	<div class="container">
	<p class="text-uppercase font-weight-bold">Taille des fonts</p>
	<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Font size %> 
	<div class="container-fluid text-sans-serif">
	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Heading 1</small>
	    </div>

	    <div class="col-sm-9">
	      <h1 class="mb-0">H1 Mange ta console !</h1>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Heading 2</small>
	    </div>

	    <div class="col-sm-9">
	      <h2 class="mb-0">H2 Mange ta console !</h2>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Heading 3</small>
	    </div>

	    <div class="col-sm-9">
	      <h3 class="mb-0">H3 Mange ta console !</h3>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Heading 4</small>
	    </div>

	    <div class="col-sm-9">
	      <h4 class="mb-0">H4 Mange ta console !</h4>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Heading 5</small>
	    </div>

	    <div class="col-sm-9">
	      <h5 class="mb-0">H5 Mange ta console !</h5>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Heading 6</small>
	    </div>

	    <div class="col-sm-9">
	      <h6 class="mb-0">H6 Mange ta console !</h6>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Paragraph</small>
	    </div>

	    <div class="col-sm-9">
	      <p class="mb-0">
	        Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console !
	      </p>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Lead text</small>
	    </div>

	    <div class="col-sm-9">
	      <p class="lead mb-0">
	        Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console !
	      </p>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Small</small>
	    </div>

	    <div class="col-sm-9">
	      <p class="text-sm mb-0">
	        Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console !
	      </p>
	    </div>
	  </div>

	  <div class="row py-3 align-items-center">
	    <div class="col-sm-3">
	      <small class="text-uppercase font-weight-bold">Tiny</small>
	    </div>

	    <div class="col-sm-9">
	      <p class="text-xs mb-0">
	        Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console ! Mange ta console !
	      </p>
	    </div>
	  </div>
	</div>


<%# end container %>
</div>
</div>
	
<%# Container begin %>
	<div class="container">
	<p class="text-uppercase font-weight-bold">Alertes</p>
	<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Alerts %>
		  <div class="container">
	  <div class="row py-3">
	    <div class="alert alert-primary text-white font-weight-bold" role="alert">
	      A simple primary alert—check it out!
	    </div>
	    <div class="alert alert-secondary text-white font-weight-bold" role="alert">
	      A simple secondary alert—check it out!
	    </div>
	    <div class="alert alert-success text-white font-weight-bold" role="alert">
	      A simple success alert—check it out!
	    </div>
	    <div class="alert alert-danger text-white font-weight-bold" role="alert">
	      A simple danger alert—check it out!
	    </div>
	    <div class="alert alert-warning text-white font-weight-bold" role="alert">
	      A simple warning alert—check it out!
	    </div>
	    <div class="alert alert-info text-white font-weight-bold" role="alert">
	      A simple info alert—check it out!
	    </div>
	    <div class="alert alert-light text-white font-weight-bold" role="alert">
	      A simple light alert—check it out!
	    </div>
	    <div class="alert alert-dark text-white font-weight-bold" role="alert">
	      A simple dark alert—check it out!
	    </div>
	  </div>
	</div>



<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Petit message qui pop</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Button trigger modal %>
  <div class="container py-7">
	  <div class="row mt-3">
	    <div class="col-sm-4 col-6 mx-auto">
	      <!-- Button trigger modal -->
	      <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	        Launch demo modal
	      </button>

	      <!-- Modal -->
	      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h5 class="modal-title" id="exampleModalLabel">Your modal title</h5>
	              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	              Society has put up so many boundaries, so many limitations on what’s right and wrong that it’s almost impossible to get a pure thought out.
	              <br><br>
	              It’s like a little kid, a little boy, looking at colors, and no one told him what colors are good, before somebody tells you you shouldn’t like pink because that’s for girls, or you’d instantly become a gay two-year-old.
	            </div>
	            <div class="modal-footer justify-content-between">
	              <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
	              <button type="button" class="btn bg-gradient-primary">Save changes</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Barres de recherche</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Research bar %>
  	<div class="row text-center py-3 mt-3">
	  <div class="col-4 mx-auto">
	    <input type="text" placeholder="Regular" class="form-control" >
	  </div>
	</div>

	<div class="row text-center py-2 mt-3">
	  <div class="col-4 mx-auto">
	    <div class="input-group mb-4">
	      <span class="input-group-text"><i class="bi bi-search me-2"></i></span>
	      <input class="form-control" placeholder="Search" type="text" >
	    </div>
	  </div>
	</div>

	<div class="row text-center py-3 mt-3">
	  <div class="col-4 mx-auto">
	    <input type="text" placeholder="Disabled" class="form-control" disabled>
	  </div>
	</div>

	<div class="row text-center py-3 mt-3">
	  <div class="col-4 ms-auto">
	    <input type="text" placeholder="Success" class="form-control is-valid" >
	  </div>
	  <div class="col-4 me-auto">
	    <input type="text" placeholder="Error" class="form-control is-invalid" >
	  </div>
	</div>

<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Formulaire</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Form %>
	<section>
	  <div class="container py-4">
	    <div class="row">
	      <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
	        <h3 class="text-center">Contact us</h3>
	        <form role="form" id="contact-form" method="post" autocomplete="off">
	          <div class="card-body">
	            <div class="row">
	              <div class="col-md-6">
	                <label>First Name</label>
	                <div class="input-group mb-4">
	                  <input class="form-control" placeholder="" aria-label="First Name..." type="text" >
	                </div>
	              </div>
	              <div class="col-md-6 ps-2">
	                <label>Last Name</label>
	                <div class="input-group">
	                  <input type="text" class="form-control" placeholder="" aria-label="Last Name..." >
	                </div>
	              </div>
	            </div>
	            <div class="mb-4">
	              <label>Email Address</label>
	              <div class="input-group">
	                <input type="email" class="form-control" placeholder="" >
	              </div>
	            </div>
	            <div class="form-group mb-4">
	              <label>Your message</label>
	              <textarea name="message" class="form-control" id="message" rows="4"></textarea>
	            </div>
	            <div class="row">
	              <div class="col-md-12">
	                <div class="form-check form-switch mb-4">
	                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
	                  <label class="form-check-label" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-primary"><u>Terms and Conditions</u></a>.</label>
	                </div>
	              </div>
	              <div class="col-md-12">
	                <button type="submit" class="btn bg-gradient-primary w-100">Send Message</button>
	              </div>
	            </div>
	          </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</section>

<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container-fluid">
<p class="text-uppercase font-weight-bold">Hero</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Hero page %>
<!-- -------- START HEADER 1 w/ text and image on right ------- -->
	<header>
	  <div class="page-header min-vh-100">
	    <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
	      <div>
	      <%= image_tag("hero.jpg", height: 800) %>
	      </div>
	    </div>
	    <div class="container-fluid">
	      <div class="row">
	        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
	          <h1 class="text-gradient text-primary">Your Work With</h1>
	          <h1 class="mb-4">Soft Design System</h1>
	          <p class="lead pe-5 me-5">The time is now for it be okay to be great. People in this world shun people for being nice. </p>
	          <div class="buttons">
	            <button type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
	            <button type="button" class="btn text-primary shadow-none mt-4">Read more</button>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</header>
<!-- -------- END HEADER 1 w/ text and image on right ------- -->
<%# end container %>
</div>
</div>

<%# Container begin %>
<div class="container">
<p class="text-uppercase font-weight-bold">Features</p>
<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<%# Features %>
  <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
	<div class="container">
	  <div class="row py-4">
	    <div class="col-lg-6">
	      <h3 class="text-gradient text-primary mb-0 mt-2">Read More About Us</h3>
	      <h3>The most important</h3>
	      <p>Pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
	      <a href="javascript:;" class="text-primary icon-move-right">More about us
	        <i class="bi bi-suit-heart-fill"></i>
	      </a>
	    </div>
	    <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
	      <div class="p-3 info-horizontal">
	        <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
	          <i class="bi bi-suit-heart-fill"></i>
	        </div>
	        <div class="description ps-3">
	          <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken by people we love.</p>
	        </div>
	      </div>

	      <div class="p-3 info-horizontal">
	        <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
	          <i class="bi bi-suit-heart-fill"></i>
	        </div>
	        <div class="description ps-3">
	          <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as we become older.</p>
	        </div>
	      </div>
	      <div class="p-3 info-horizontal">
	        <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
	          <i class="bi bi-suit-heart-fill"></i>
	        </div>
	        <div class="description ps-3">
	          <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over time? Blackgold.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->



<%# end container %>
</div>
</div>
