<div class="container px-4 py-5 card">
  <div class="row">
    <div class="col-2">
      <img
        src="https://cdn-icons-png.flaticon.com/128/1747/1747273.png"
        width="70"
        class="rounded-circle mt-2"
      >
    </div>

    <div class="col-10">
      <div class="comment-box ml-2">
        <h4>ici le content</h4>
        <div class="rating">
          <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
          <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
          <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
          <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
          <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
        </div>
        <div class="comment-area">
          <textarea class="form-control" placeholder="what is your view?" rows="4"></textarea>
        </div>
        <div class="comment-btns mt-2">
          <div class="row">
            <div class="col-6">
              <div class="pull-left">
                <button class="btn btn-success btn-sm">Cancel</button>
              </div>
            </div>
            <div class="col-6">
              <div class="pull-right">
                <button class="btn btn-success send btn-sm">Send
                  <i class="fa fa-long-arrow-right ml-1"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
