<section class="pb-5 pt-5 bg-mainos2">


<%= render "form/article/edit", article: @article %>

<br>
<% if flash[:error] %>
  <div class="notice", style="color: red"><%= flash[:error] %></div>
<% end %>
</section>
