<div class="bg-mainos2">
<h1 class="pt-5 pb-5 text-gradient text-dark text-center">Créer un nouvel article</h1>

<%= render "form/article/new", article: @article %>

<h5 class="pt-5 pb-5 text-gradient text-dark mb-0 text-center"> <%= link_to "Retour aux articles", articles_path %> </h5>
</div>
