<!-- Footer -->
<footer class="footer sticky-bottom navbar-light shadow-0 text-center text-white py-3 pt-3 border-top border-2 border-dark">

    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="articles#index" class="nav-link px-2 text-muted">Accueil</a></li>
      <li class="nav-item"><a href="/old" class="nav-link px-2 text-muted">A Propos</a></li>
      <li class="nav-item"><a href="/cgv" class="nav-link px-2 text-muted">Conditions générales de vente</a></li>
    </ul>
  </footer>
