<h1>Editing thecomment</h1>

<%= render "form", thecomment: @thecomment %>

<br>

<div>
  <%= link_to "Show this thecomment", @thecomment %> |
  <%= link_to "Back to thecomments", thecomments_path %>
</div>
